{% comment %}
  Advertising box at the top of a workshop website home page.
{% endcomment %}
<div class="jumbotron">

    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-3">
         <img class="img-responsive"  src="assets/img/ACENET-LOGO-NAME-TAG.png" />
      </div>
      <div class="col-md-6 col-sm-5 col-xs-4">
           <img class="img-responsive" style="margin:0 auto;" src="assets/img/accelerate.png" />
      </div>
      <div class="col-md-3 col-sm-3 col-xs-3">
         <img class="img-responsive" src="assets/img/UNB-primary_RGB_K.png" />
      </div>

    </div>

  <div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12">
      <h2>{{page.venue}}</h2></p>
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
          <h3>{{page.humandate}}</h3>
          <p>{% if page.humantime %}{{page.humantime}}{% endif %}</p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <p>
          <strong>Instructors:</strong>
          {% if page.instructor %}
          {{page.instructor | join: ', ' %}}
          {% else %}
          to be announced.
          {% endif %}
          </p>
          {% if page.helper %}
          <p>
          <strong>Helpers:</strong>
          {{page.helper | join: ', ' %}}
          </p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

</div>
